In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('apple_stock_news.zip', compression='zip')

In [4]:
data.head()

,Date,Open,High,Low,Close,Volume,News
0,2015-01-02 09:30:00,24.963,24.992,24.888,24.925,2828740,"[""Is Xiaomi's first laptop a MacBook Air knock..."
1,2015-01-02 09:31:00,24.930,24.960,24.874,24.938,1146024,"[""Is Xiaomi's first laptop a MacBook Air knock..."
2,2015-01-02 09:32:00,24.943,24.978,24.901,24.938,924048,"[""Is Xiaomi's first laptop a MacBook Air knock..."
3,2015-01-02 09:33:00,24.942,24.959,24.870,24.911,1041160,"[""Is Xiaomi's first laptop a MacBook Air knock..."
4,2015-01-02 09:34:00,24.916,24.946,24.852,24.880,994128,"[""Is Xiaomi's first laptop a MacBook Air knock..."

In [6]:
data[:1]["News"].values

array(['["Is Xiaomi\'s first laptop a MacBook Air knock-off?\\nLeaked images suggest that the Chinese mobile giant Xiaomi has once again ripped off Apple\'s design.\\n", \'AAP names 8 more nominees, completes list for Delhi polls\\nAAP has a blend of candidates from different walks of life -- from former Apple executive Adarsh Shastri to Bandana Kumari, a housewife, for Delhi polls.\\n\']'],
      dtype=object)

In [15]:
data.iloc[20]["News"]

'["Is Xiaomi\'s first laptop a MacBook Air knock-off?\\nLeaked images suggest that the Chinese mobile giant Xiaomi has once again ripped off Apple\'s design.\\n", \'AAP names 8 more nominees, completes list for Delhi polls\\nAAP has a blend of candidates from different walks of life -- from former Apple executive Adarsh Shastri to Bandana Kumari, a housewife, for Delhi polls.\\n\']'

In [14]:
data.iloc[10]["News"]

'["Is Xiaomi\'s first laptop a MacBook Air knock-off?\\nLeaked images suggest that the Chinese mobile giant Xiaomi has once again ripped off Apple\'s design.\\n", \'AAP names 8 more nominees, completes list for Delhi polls\\nAAP has a blend of candidates from different walks of life -- from former Apple executive Adarsh Shastri to Bandana Kumari, a housewife, for Delhi polls.\\n\']'

In [19]:
data.tail()

,Date,Open,High,Low,Close,Volume,News
865666,2023-10-31 15:55:00,170.850,170.90,170.70,170.891,277574,Apple's holiday-quarter forecast faces threat ...
865667,2023-10-31 15:56:00,170.895,170.90,170.83,170.890,192316,Apple's holiday-quarter forecast faces threat ...
865668,2023-10-31 15:57:00,170.890,170.90,170.84,170.855,179167,Apple's holiday-quarter forecast faces threat ...
865669,2023-10-31 15:58:00,170.860,170.89,170.81,170.885,211865,Apple's holiday-quarter forecast faces threat ...
865670,2023-10-31 15:59:00,170.880,170.90,170.71,170.770,844971,Apple's holiday-quarter forecast faces threat ...

In [25]:
data.shape[0]/(252 * 60 * 6.5)

8.808211233211233

In [ ]:
252 * 60